@font-face {
  font-family: digital;
  src: url('./fonts/digital-7.regular.ttf')
}

@font-face {
  font-family: funnel;
  src: url('./fonts/FunnelDisplay.ttf')
}

@import "tailwindcss";
@import './base.css';

@theme {
  --font-digital: digital, "sans-serif";
  --font-sans: funnel, "sans-serif"
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}


@layer components {
  .no-drag {
    -webkit-app-region: no-drag;
  }
}
